* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.cBold {
  font-weight: 500;
}
input {
  width: 100%;
}

.items-container {
  text-align: left;
}

.cRow {
  margin: 20px 0;
  text-align: left;
}

.cBtn {
  min-width: 90px;
}
