* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-weight: 700;
  margin: 10px;
  margin-bottom: 20px;
}
.cBold {
  font-weight: 500;
}
input {
  width: 100%;
}

.items-container {
  text-align: left;
}

.cRow {
  margin: 20px 0;
}

.cBtn {
  min-width: 90px;
}
